QLabel#logo{
        background-image: url(:/images/image/logo_english.png);
	background-repeat:no-repeat;
        background-position:center center;
        padding-left:100px;
}

QLabel,QPushButton{
    font: 12px "Microsoft YaHei";
}

QWidget,QDialog{
    font: 12px "Microsoft YaHei";
}

QDialog,QWidget#top_tool_widget{background-color:rgb(0, 160, 234)}
.QWidget#vmware_widget,.QWidget#citrix_widget,.QWidget#rdp_widget,.QWidget#spice_widget{
    background-repeat:no-repeat;
    background-position:center center;
    background-attachment:fixed;
    background-color:rgba(200,200,200,150);
}
.QWidget[objectName="vmware_widget"]{
	background-image: url(:/images/image/vmware.png);
}
.QWidget[objectName="citrix_widget"]{
    background-image: url(:/images/image/citrix.png);
}
.QWidget[objectName="rdp_widget"]{
    background-image: url(:/images/image/rdp.png);
}
.QWidget[objectName="spice_widget"]{
    background-image: url(:/images/image/spice.png);
}

.QPushButton{
	border-radius:2px;
	border-color:#2dabf9;

	color:#000000;
	padding: 6px 15px;
	margin:0px;
}


QWidget#mainWidget{
	background-image:url(:/images/image/home-background.png);
	background-repeat:no-repeat;
    /*background-position:center center;*/
}
QPushButton#poweroffPtn{
        border-image: url(:/images/image/system-poweroff.png);
        border-radius:10px;
        padding:2px 8px;
}
QPushButton#poweroffPtn::hover{
        background-color:rgba(125,221,246,150);
}
QPushButton#poweroffPtn::pressed{
        background-color:rgb(125,221,246,200);
}

QLabel#datetime_label{
        font-family: "Arial";
        font-size: 16px;
}

QWidget#settingwidget{
        background-image: url(:/images/image/setting.png);
        background-repeat:no-repeat;
        background-position:center center;
        background-attachment:fixed;
}
QWidget#communicationwidget{
        background-image: url(:/images/image/conversation_normal.png);
        background-repeat:no-repeat;
        background-position:center center;
        background-attachment:fixed;
}
QWidget#registerwidget{
        background-image: url(:/images/image/signin_normal.png);
        background-repeat:no-repeat;
        background-position:center center;
        background-attachment:fixed;
}
QWidget#sysInfowidget{
        background-image: url(:/images/image/systeminfo.png);
        background-repeat:no-repeat;
        background-position:center center;
        background-attachment:fixed;
}
QPushButton#vmwareviewPtn_1,#citrixreceriverPtn_1,#rdpviewPtn_1,#spiceviewer_1,#settingPtn,#communicationPtn,#registerPtn,#sysInfoPtn{
	background-color:rgba(255,255,255,000);
        font-size:16pt "Microsoft YaHei";
}

QPushButton#vmwareviewPtn_1:hover,QPushButton#citrixreceriverPtn_1:hover,QPushButton#rdpviewPtn_1:hover,QPushButton#spiceviewer_1:hover,QPushButton#settingPtn:hover,QPushButton#communicationPtn:hover,QPushButton#registerPtn::hover,#sysInfoPtn::hover{
	background-color:rgba(255,255,255,150);	
}
QPushButton#vmwareviewPtn_1:pressed,QPushButton#citrixreceriverPtn_1:pressed,QPushButton#rdpviewPtn_1:pressed,QPushButton#spiceviewer_1:pressed,QPushButton#settingPtn:pressed,QPushButton#communicationPtn::pressed,QPushButton#registerPtn::pressed,#sysInfoPtn::pressed{
	background-color:rgba(255,255,255,200);	
}  


QPushButton#vmwareviewPtn_2,QPushButton#citrixreceriverPtn_2,QPushButton#rdpviewPtn_2,QPushButton#spiceviewer_2{
        background-color:rgb(125,221,246);
        font-size:14pt "Microsoft YaHei";
}

QPushButton#vmwareviewPtn_2:hover,QPushButton#citrixreceriverPtn_2:hover,QPushButton#rdpviewPtn_2:hover,QPushButton#spiceviewer_2:hover{
        background-color:rgba(125,221,246,150);
}
QPushButton#vmwareviewPtn_2:pressed,QPushButton#citrixreceriverPtn_2:pressed,QPushButton#rdpviewPtn_2:pressed,QPushButton#spiceviewer_2:pressed{
        background-color:rgb(125,221,246,200);
}

/*==================== Register_Widget =======================*/
QDialog#TerminalRegister{
/*    background-color:rgba(255,255,255, 255);*/
     background-color:rgba(236,236,236, 255);
}

QWidget#Register_titleWidget{
    background-color:rgba(0,159,233, 255);
}

QPushButton#Register_closePtn{
    /*border-image: url(:/images/image/close.png);*/
    background:url(:images//image/close.png) -30px -30px no-repeat;
    background-position:center center;
}
QPushButton#Register_closePtn::hover{
        background-color:rgba(125,221,246,150);
}
QPushButton#Register_closePtn::pressed{
        background-color:rgba(125,221,246,200);
}
/* OK */
QPushButton#Register_registerPtn{
        background-color:rgba(0,159,233, 255);
}
QPushButton#Register_registerPtn::hover{
        background-color:rgba(51,179,237);
}
QPushButton#Register_registerPtn::pressed{
        background-color:rgba(125,221,246,150);
}

/* Cancel */
QPushButton#Register_cancelPtn{
        background-color:rgba(181,181,181, 255);
}
QPushButton#Register_cancelPtn::hover{
        background-color:rgba(181,181,181,150);
}
QPushButton#Register_cancelPtn::pressed{
        background-color:rgba(196,196,196,255);
}

/* ok */
QPushButton#Register_okBtn{
        background-color:rgba(0,159,233, 255);
}
QPushButton#Register_okBtn::hover{
        background-color:rgba(51,179,237);
}
QPushButton#Register_okBtn::pressed{
        background-color:rgba(125,221,246,150);
}
/*==================== Setting =======================*/
/* ===============Modify Password Dialog================== */
QDialog#ModifyPasswordDialog{
    background-color:rgba(236,236,236, 255);
    font: 20px "Microsoft YaHei";
}
/* ===============the end of Modify Password Dialog================== */

QDialog#Setting_mainDialog{
    background-color:rgba(236,236,236, 255);
}

QWidget#Setting_titleWidget,#VMware_titleWidget,#Citrix_titleWidget,#Spice_titleWidget{
    background-color:rgba(0,159,233, 255);
}
QLabel#Citrix_titleLabel,#VMware_titleLabel,#Spice_titleLabel{
        color:white;
}

QLabel#Chat_titleLabel,#Register_titleLabel,#title_Label{
        color:white;
        font: 14px "Microsoft YaHei";
        font-weight: bold;
}

QLabel#Setting_titleLabel{
    color:white;
    font: 18px "Microsoft YaHei";
    font-weight: bold;
}

QGroupBox{
        background-color:rgba(226,226,226, 255);
        border:1px solid gray;
        border-top:none;
        border-left:none;
        border-right:none;
        border-radius:3px;
        /*margin-top:1ex;*//* leave space at the top for the title */
        /* mofify QGroupBox::title font size */
        font-size: 12px;
        font-weight: bold;
}

QGroupBox::title {
        subcontrol-origin: margin;
        /*subcontrol-position: top center;*/ /* position at the top center */
        subcontrol-position: top left;
        padding:03px;
}

/*TabWidget*/
QTabWidget#Setting_tabWidget::pane{
        /*border-top:none; */
        /*border: 0px solid #32435E;*/
        background-color:rgb(226,226,226);
        position: absolute;
        left: 1em;
        right: 1em;
        bottom: 1em;
}
QTabWidget#Setting_tabWidget::tab-bar{
        alignment:center;
}

QTabBar::tab{
        background-color:rgba(255,255,255, 255);
        border: 1px solid rgb(226,226,226);
        border-radius:3px;
        color:black;
        width:100px;
        min-height:25px;
}
QTabBar::tab:hover{
        background:rgba(125,221,246,150);
	color:black;
}
QTabBar::tab:selected{
        background:rgba(0,159,233, 255);
	color:black;
}

QCheckBox::indicator, QRadioButton::indicator, QTreeView::indicator {
    width: 16px;
    height: 16px;
    border: none;
    spacing:5px;
}

QRadioButton::indicator {
    border-radius: 8px;
}

QRadioButton::hover {
        background-color:rgba(125,221,246,200);
}
QRadioButton::indicator:checked{
        image: url(:/images/image/selectcircle_select.png);
}
QRadioButton::indicator:checked:hover{
        background-color:rgba(125,221,246,150);
}
QRadioButton::indicator:checked:pressed{
        background-color:rgba(125,221,246,200);
}

QRadioButton::indicator:unchecked{
        image: url(:/images/image/selectcircle_normal.png);
}
QRadioButton::indicator:unchecked:hover {
        background-color:rgba(125,221,246,150);
}
QRadioButton::indicator:unchecked:pressed {
        background-color:rgba(125,221,246,200);
}

QTreeView::indicator:checked{
        image: url(:/images/image/selectbox_select.png);
}
QTreeView::indicator:checked:hover {
        background-color:rgba(125,221,246,150);
}
QTreeView::indicator:checked:pressed {
        background-color:rgba(125,221,246,200);
}

QTreeView::indicator:unchecked{
        image: url(:/images/image/selectbox_normal.png);
}
QTreeView::indicator:unchecked:hover {
        background-color:rgba(125,221,246,150);
}
QTreeView::indicator:unchecked:pressed {
        background-color:rgba(125,221,246,200);
}

QPushButton#Setting_closePtn,#VMware_closePtn,#Citrix_closePtn,#Spice_closePtn{
    background:url(:images/image/close.png) -30px -30px no-repeat;
    background-position:center center;
}
QPushButton#Setting_closePtn::hover,#VMware_closePtn::hover,#Citrix_closePtn::hover,#Spice_closePtn::hover{
        background-color:rgba(125,221,246,150);
}
QPushButton#Setting_closePtn::pressed,#VMware_closePtn::pressed,#Citrix_closePtn::pressed,#Spice_closePtn::pressed{
        background-color:rgba(125,221,246,200);
}

QPushButton#lockPtn,#Setting_lockPtn{
        background-color:rgba(255,201,14, 255);
        border-radius: 4px;
        /*border: 1px solid gray;*/
        border-style: groove;
}
QPushButton#lockPtn::hover,#Setting_lockPtn::hover{
        background-color:rgba(125,221,246,150);
}
QPushButton#lockPtn::pressed,#Setting_lockPtn::pressed{
        background-color:rgba(0,159,233, 255);
}

QPushButton#cfgVmware,#cfgCitrix,#cfgRdp,#cfgSpice,#Setting_cfgPtn{
        border-image: url(:/images/image/boot_setting.png);
}
QPushButton#cfgVmware::hover,#cfgCitrix::hover,#cfgRdp::hover,#cfgSpice::hover,#Setting_cfgPtn::hover{
        background-color:rgba(125,221,246,150);
}
QPushButton#cfgVmware::pressed,#cfgCitrix::pressed,#cfgRdp::pressed,#cfgSpice::pressed,#Setting_cfgPtn::pressed{
        border-image: url(:/images/image/boot_setting_press.png);
}

/*VMware, Citrix */
QWidget#VMware_configWidget,#Citrix_configWidget,#Spice_configWidget{
        background-color:rgba(255,255,255, 255);
}

/* Cancel */
QPushButton#VMware_cancelPtn,#Citrix_cancelPtn,#Spice_cancelPtn{
        background-color:rgba(181,181,181, 255);
}
QPushButton#VMware_cancelPtn::hover,#Citrix_cancelPtn::hover,#Spice_cancelPtn::hover{
        background-color:rgba(181,181,181,150);
}
QPushButton#VMware_cancelPtn::pressed,#Citrix_cancelPtn::pressed,#Spice_cancelPtn::pressed{
        background-color:rgba(196,196,196,255);
}

/* ok */
QPushButton#VMware_okPtn,#Citrix_okPtn,#Spice_okPtn{
        background-color:rgba(0,159,233, 255);
}
QPushButton#VMware_okPtn::hover,#Citrix_okPtn::hover,#Spice_okPtn::hover{
        background-color:rgba(51,179,237);
}
QPushButton#VMware_okPtn::pressed,#Citrix_okPtn::pressed,#Spice_okPtn::pressed{
        background-color:rgba(125,221,246,150);
}

QPushButton#Setting_syncPtn,#syncTimePtn{
        background-color:rgb(180,180,180);
        border-style: groove;
}
QPushButton#Setting_syncPtn::hover,#syncTimePtn::hover{
        background-color:rgba(51,179,237);
}
QPushButton#syncTimePtn::pressed,#syncTimePtn::pressed{
        background-color:rgba(125,221,246,150);
}

QPushButton#startFirefox_pushButton,#setTimezone_pushButton,#soundSetting_pushButton{
        background-color:rgb(180,180,180);
        border-style: groove;
}
QPushButton#startFirefox_pushButton::hover,#setTimezone_pushButton::hover,#soundSetting_pushButton::hover{
        background-color:rgba(51,179,237);
}
QPushButton#startFirefox_pushButton::pressed,#setTimezone_pushButton::pressed,#soundSetting_pushButton::pressed{
        background-color:rgba(125,221,246,150);
}

QHeaderView{
    font-size:16px;
}

QHeaderView::section {
    /*color: white;*/
    padding: 4px;
    height:24px;
    border: 0px solid #567dbc;
    border-left:0px;
    border-right:0px;
    /*background: #2c3e50;*//*default*/
}

/*======================= Chat =============================*/
QDialog#Chat_mainDialog{
    background-color:rgba(255,255,255, 255);
}

QWidget#Chat_titleWidget{
    background-color:rgba(0,159,233, 255);
}

QPushButton#Chat_closeBtn{
        background: url(:/images/image/close.png)-30px -30px no-repeat;
        background-position:center center;
}
QPushButton#Chat_closeBtn::hover{
        background-color:rgba(125,221,246,150);
}
QPushButton#Chat_closeBtn::pressed{
        background-color:rgb(125,221,246,200);
}

QPushButton#Chat_sendBtn{
        background-color:rgba(0,159,233, 255);
       /* background-color:rgba(255,255,255,200);*/
}
QPushButton#Chat_sendBtn::hover{
        background-color:rgba(125,221,246,150);
}
QPushButton#Chat_sendBtn::pressed{
        background-color:rgb(125,221,246,200);
}

QLabel#splite_label{
    background-color:rgba(0,159,233, 255);
}


/*======================= Power =============================*/
QDialog#Power_mainDialog{
    background-color:rgb(105,105,105, 240);
}

QLabel#Power_title_label{
        color:white;
}

QPushButton#Power_hibernateBtn{
        border-image: url(:/images/image/power_sleep.png);
}
QPushButton#Power_suspendBtn{
        border-image: url(:/images/image/power_suspend.png);
}
QPushButton#Power_rebootBtn{
        border-image: url(:/images/image/power_reboot.png);
}
QPushButton#Power_poweroffBtn{
        border-image: url(:/images/image/power_poweroff.png);
}


QPushButton#Power_hibernateBtn,QPushButton#Power_suspendBtn,QPushButton#Power_rebootBtn,QPushButton#Power_poweroffBtn{
        background-color:transparent;
        /*border:2px groove gray;*/
        border: 0px;
        border-radius:10px;
        padding:2px 4px;
}

QPushButton#Power_hibernateBtn:hover,QPushButton#Power_suspendBtn:hover,QPushButton#Power_rebootBtn:hover,QPushButton#Power_poweroffBtn:hover{
        background-color:rgba(125,221,246,240);
}
QPushButton#Power_hibernateBtn:pressed,QPushButton#Power_suspendBtn:pressed,QPushButton#Power_rebootBtn:pressed,QPushButton#Power_poweroffBtn:pressed{
        background-color:rgb(125,221,246,200);
}

QLabel#Power_label{
        color:#fffefe;
}
/*=========================NetWork======================*/

/*TabWidget*/
QTabWidget#NetWork_tabWidget::pane{
        border-bottom:none;
        border-left:none;
        border-right:none;
        /*border: 0px solid #32435E;*/
        background-color:rgb(226,226,226);
        position: absolute;
}
QTabWidget#NetWork_tabWidget::tab-bar{
        alignment:left;
}

QPushButton#NetWork_applyBtn{
        background-color:rgb(180,180,180);
        border-radius: 4px;
        /*border: 1px solid gray;*/
        border-style: groove;
}
QPushButton#NetWork_applyBtn::hover{
        background-color:rgba(51,179,237);
}
QPushButton#NetWork_applyBtn::pressed{
        background-color:rgba(125,221,246,150);
}

QComboBox{
        border:1px solid gray;
        font-family: "Arial";
        font-size: 13px;
        padding: 3px 0x 3px 5px;
}

QComboBox QAbstractItemView {
        border: none;
}
QComboBox QAbstractItemView::item{
        height:20px;
}

QComboBox::drop-down {
        subcontrol-origin: padding;
        subcontrol-position: top right;
        width: 30px;
        border: 0px;
}
QComboBox::down-arrow {
        image: url(":/images/image/down_arrow.png");
        width: 10px;
        height:10px;
 }
 QComboBox::hover{
        border-color: rgba(125,221,246,250);
 }

/*=========================Display======================*/
QPushButton#Display_resApplayBtn,#Display_screenApplayBtn{
        background-color:rgb(180,180,180);
        border-radius: 4px;
        /*border: 1px solid gray;*/
        border-style: groove;
}
QPushButton#Display_resApplayBtn::hover,#Display_screenApplayBtn::hover{
        background-color:rgba(51,179,237);
}
QPushButton#Display_resApplayBtn::pressed,#Display_screenApplayBtn::pressed{
        background-color:rgba(125,221,246,150);
}

/*=========================System Info======================*/
QWidget#SystemInfo_mainWidget{
        background-color:rgba(236,236,236, 255);
}
QFrame#SystemInfo_mainFrame{
        background-color:rgba(236,236,236, 255);
        border:none;
        color:black;
}
QWidget#SystemInfo_titleWidget{
        background-color:rgba(0,159,233, 255);
}
QLabel#SystemInfo_titleLabel{
        color:white;
        font: 14px "Microsoft YaHei";
        font-weight: bold;
}
QPushButton#SystemInfo_closePtn{
        background: url(:/images/image/close.png)-30px -30px no-repeat;
        background-position:center center;
}
QPushButton#SystemInfo_closePtn::hover{
        background-color:rgba(125,221,246,150);
}
QPushButton#SystemInfo_closePtn::pressed{
        background-color:rgb(125,221,246,200);
}

QGroupBox#SystemInfo_devBox{
        background-color:rgba(236,236,236, 255);
        font-size: 12px "Microsoft YaHei";
        font-weight: bold;
        color:black;
}

QGroupBox#SystemInfo_hardwareBox{
        background-color:rgba(236,236,236, 255);
        font-size: 12px "Microsoft YaHei";
        font-weight: bold;
        color:black;
}
QGroupBox#SystemInfo_sysBox{
        background-color:rgba(236,236,236, 255);
        font-size: 12px "Microsoft YaHei";
        font-weight: bold;
        color:black;
}

QLabel#SystemInfo_devLabel,#SystemInfo_hardwareLabel,#SystemInfo_sysLabel
{
        color:black;
}

QDialog#ReadOnlyFS{
    background-color:rgba(236,236,236, 255);
}

QPushButton#ReadOnly_closePushButton{
    background:url(:images/image/close.png) -30px -30px no-repeat;
    background-position:center center;
}

QPushButton#ReadOnly_closePushButton::hover{
        background-color:rgba(125,221,246,150);
}
QPushButton#ReadOnly_closePushButton::pressed{
        background-color:rgb(125,221,246,200);
}

QWidget#ReadOnlyFS_widget{
    background-color:rgba(0,159,233, 255);
}

QPushButton#ReadOnly_okPushButton, #ReadOnly_caclePushButton{
        background-color:rgba(181,181,181, 255);
}
QPushButton#ReadOnly_okPushButton::hover, #ReadOnly_caclePushButton::hover{
        background-color:rgba(181,181,181,150);
}
QPushButton#ReadOnly_okPushButton::pressed, #ReadOnly_caclePushButton::pressed{
        background-color:rgba(196,196,196,255);
}

QPushButton#networkSetting_pushButton{
        background-color:rgba(181,181,181, 255);
}
QPushButton#networkSetting_pushButton::hover{
        background-color:rgba(181,181,181,150);
}
QPushButton#networkSetting_pushButton::pressed{
        background-color:rgba(196,196,196,255);
}
